/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
h1 {
    color: #562661;
    font-size: 38px;
    margin: 0;
}

#about h1 {
    color: darkviolet;
}

header {
    padding: 0.67em 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav li:last-child {
    margin-right: 0;
}

nav ul {
    padding: 0;
}

nav a {
    text-decoration: none;
    color: darkviolet;
    border-bottom: 3px solid darkviolet;
    padding-bottom: 3px;
    transition: 0.25s;
}

nav a:hover {
    color: #562661;
    padding-bottom: 5px;
    border-bottom: 3px solid #562661;
}

header {
    text-align: center;
}

.content {
    width: 75%;
    margin: 0 auto;
}

.image-wrapper {
    width: 100%;
    overflow: hidden;
}

.content img {
    width: 100%;
    transition: 0.25s ease-in-out;
}

.content img:hover {
    transform: scale(1.25);
}

footer {
    text-align: center;
}

article:not(:last-child) {
    border-bottom: 5px solid #eee;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 780px) {
    .content {
        width: 85%;
    }
}

@media only screen and (max-width: 500px) {
    .content {
        width: 80%;
    }

    nav li {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }

    nav a {
        display: block;
        border: 3px solid darkviolet;
        padding: 3px;
        width: 90%;
        margin: 0 auto;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}